<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonRegressionSuite" verbose="1" parallel="false">

    <test name="AmazonRegressionTest" preserve-order="true">
        <classes>
            <class name="tests.AmazonAddToCartTest"/>
            <class name="tests.AmazonTodaysDealsTest"/>
        </classes>
    </test>

</suite>
